*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: red;
    font-size: 30px;
}

.heading{
    color:black;
}